---
import {Image} from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog");
---

<BaseLayout>
  <h1>Posts</h1>

  {
    allBlogPosts.map((post) => (
      <article>
        <span>
          📅
          {new Date(post.data.publishedAt)
            .toLocaleDateString("en-GB")
            .split("/")
            .join(".")}
        </span>
        <h1>{post.data.title}</h1>
        <a href={`/blog/${post.slug}`}>
          <Image src={post.data.heroImage} inferSize=true alt={post.data.title} />
        </a>
      </article>
    ))
  }
</BaseLayout>
