---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog");
const allProjects = await getCollection("projects");
import allTags from "../../data/tags.json";

const mergedTags = [...allTags];

const entryTags = [...allBlogPosts, ...allProjects]
  .map((entry) => entry.data.tags)
  .flat();

entryTags.forEach((tag) => {
  if (!mergedTags.find((t) => t.slug === tag)) {
    mergedTags.push({
      slug: tag,
      name: tag.replace(/\b\w/g, (l: string) => l.toUpperCase()),
      description: "",
    });
  }
});
---

<BaseLayout>
  <ul>
    {
      mergedTags.map((tag) => {
        const projectCount = allProjects.filter((project) =>
          project.data.tags.includes(tag.slug),
        ).length;
        const postCount = allBlogPosts.filter((post) =>
          post.data.tags.includes(tag.slug),
        ).length;

        return (
          <li>
            <h2>{tag.name}</h2>
            <p>{tag.description}</p>
            {tag.icon && <i class={tag.icon} />}
            <p>
              <a
                href={`/projects?tag=${tag.slug}`}
                class="text-blue-500 hover:underline"
              >
                {projectCount} {projectCount === 1 ? "Project" : "Projects"}
              </a>
            </p>
            <p>
              <a
                href={`/blog?tag=${tag.slug}`}
                class="text-blue-500 hover:underline"
              >
                {postCount} {postCount === 1 ? "Post" : "Posts"}
              </a>
            </p>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
