---
import Tags from "./Tags.astro";
const { project } = Astro.props;
---

<article class="border-b last:border-b-0 py-3 first:pt-0">
  <div class="float-right">
    <p>
      {project.data.demo && <a href={project.data.demo}>Live Demo</a>}
      {
        project.data.github && (
          <a href={project.data.github}>
            <i class="devicon-github-plain" /> GitHub
          </a>
        )
      }
    </p>
  </div>
  <a href={`/projects/${project.slug}`}>
    <h2>{project.data.name}</h2>
  </a>
  <p>{project.data.description}</p>
  <Tags tags={project.data.tags} />
</article>
