---
const { project } = Astro.props;
---

<article>
  <h3>{project.data.name}</h3>

  <p>{project.data.description}</p>

  <div class="actions">
    {
      project.data.demo && (
        <a
          href={project.data.demo}
          target="_blank"
          rel="noopener noreferrer"
          class="button"
        >
          Live Demo
        </a>
      )
    }

    {
      project.data.github && (
        <a
          href={project.data.github}
          target="_blank"
          rel="noopener noreferrer"
          class="button"
        >
          GitHub
        </a>
      )
    }

    <a href={`/projects/${project.slug}`} class="button">Read More</a>
  </div>
</article>
