---
import Tag from "./Tag.astro";

const { project } = Astro.props;
---

<article class="border-b last:border-b-0 py-3">
  <a href={`/projects/${project.slug}`}>
    <h2>{project.data.name}</h2>
  </a>
  <p>{project.data.description}</p>
  {project.data.tags.map((tag: string) => <Tag tag={tag} />)}
  <p>
    {project.data.demo && <a href={project.data.demo}>Live Demo</a>}
    {
      project.data.github && (
        <a href={project.data.github}>
          <i class="devicon-github-plain" /> GitHub
        </a>
      )
    }
  </p>
</article>
