---
import { Image } from "astro:assets";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Tags from "@components/Tags.astro";
import Tag from "@components/Tag.astro";
import BlogTagList from "@components/BlogTagList.astro";

export async function getStaticPaths() {
	const allBlogPosts = await getCollection("blog");
	const postTags = allBlogPosts.map((post) => post.data.tags).flat();
	const uniquePostTags = [...new Set(postTags)];

	return uniquePostTags.map((tag) => {
		const taggedBlogPosts = allBlogPosts.filter((post) =>
			post.data.tags.includes(tag),
		);
		return {
			params: { tag },
			props: { taggedBlogPosts },
		};
	});
}

const { tag } = Astro.params;
const { taggedBlogPosts } = Astro.props;
---

<BaseLayout>
	<BlogTagList activeTag={tag} />
	{
		taggedBlogPosts.map((post) => (
			<article class="rounded-xl my-5 first:mt-0">
				<a href={`/blog/${post.slug}`} class="text-primary underline">
					<Image
						class="rounded-xl mt-5"
						src={post.data.heroImage}
						inferSize={true}
						alt={post.data.title}
					/>
				</a>
				<h1 class="font-bold leading-tight">{post.data.title}</h1>
				<span class="text-sm">
					📅
					{new Date(post.data.publishedAt)
						.toLocaleDateString("en-GB")
						.split("/")
						.join(".")}
				</span>
				<Tags
					tags={post.data.tags}
					path={(tag) => `/blog/tags/${tag}`}
				/>
			</article>
		))
	}
</BaseLayout>
